@use "../vars/vars" as *;

.search{
	&__title{
		font-size: 1.5rem;
		margin-bottom: 1rem;
	}
	&__input{
		margin: 0 auto;
		margin-bottom: 2.4rem;
		width: 70%;
		height: 2.4rem;
		max-width: 980px;
		border: none;
		outline: none;
		background-color: none;
		border-bottom: 2px solid $secondary-color;
		font-size: 1.3rem;
	}
	&__results{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 6rem;
		.card{
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 150px;
			height: 150px;
			transition: filter .2s ease-in;
			margin: 1rem;
			&:hover{
				filter: brightness(130%);
			}
			&__title{
				font-size: 1.2rem;
				max-width: 150px;
			}
			&__img{
				width: 150px;
				height: 130px;
				object-fit: cover;
				object-position: top;
			}
		}
	}
}